.main__section--div {
    background-image: url('/images/rectangle1.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    min-width: 28.8rem;
    width: 90vw;
    height: 40vh;
    max-width: 50rem;
    position: relative;
}
.main__section--div p {
    width: 90%;
    text-align: center;
    position: absolute;
    font-size: 1rem;
    top: 47%;
    left: 3%;
}
@media screen and (min-width: 400px) {
    .main__section--div p {
        font-size: 1.5rem;
    }
}
@media screen and (min-width: 800px) {
    .main__section--div p {
        top: 43%;
        left: 4%;
        font-size: 2rem;
    }
}